AWS_REGION              = "ap-southeast-2"

AWS_ACCESS_KEY_ID       = "XXXXXXXXXXXXXXXXXXXX"
AWS_SECRET_ACCESS_KEY   = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

PUBLIC_KEY              = "ssh-rsa XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX samuelh2006@gmail.com"

PGUSER                  = "postgres"
PGPASS                  = "changeme"
DBNAME                  = "techchallenge"

ENV                     = "tech-challenge-syd"
