AWS_REGION              = "ap-southeast-2"
AWS_ACCESS_KEY_ID       = "XXXXXXXXXXXXXXXXXXXX"
AWS_SECRET_ACCESS_KEY   = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
PUBLIC_KEY              = "ssh-rsa XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX sam@mail.com"
PGUSER                  = "xxxxxxxx"
PGPASS                  = "xxxxxxxx"
DBNAME                  = "techchallenge"
ENV                     = "tech-challenge-syd"
allowlist_bastion       = ["0.0.0.0/0"]